<% if (theme.duoshuo_shortname){ %>
<div class="widget-wrap">
  <h3 class="widget-title"><%= __('widget.recent_vistors') %></h3>
    <div class="widget">
		<div class="ds-recent-visitors" data-num-items="28" data-avatar-size="42" id="ds-recent-visitors"></div>
    </div>
  </div>
<% } %>
